AWS_REGION=us-west-2
STAGE=dev
LAMBDA_SG_ID=sg-xxxxxxxx
LAMBDA_SUBNET_IDS=subnet-aaa,subnet-bbb
DB_SECRET_ARN=arn:aws:secretsmanager:us-west-2:ACCOUNT:secret:semantic-pokedex/db/app-user-xxxxxx
DB_HOST=your-rds.xxx.us-west-2.rds.amazonaws.com
DB_PORT=5432
DB_NAME=semantic_pokedex
S3_RAW_BUCKET=semantic-pokedex-raw-dev
S3_CURATED_BUCKET=semantic-pokedex-curated-dev
S3_EVAL_BUCKET=semantic-pokedex-eval-dev
BEDROCK_REGION=us-west-2
SEARCH_API_URL=
